<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<h3>Edit Customer</h3>
<p>
    <a th:href="@{/customers}">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table border="1px">
        <tr>
            <td>First name:</td>
            <td><label>
                <input type="text" th:value="*{firstName}" th:field="*{firstName}"/>
            </label></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><label>
                <input type="text"  th:value="*{lastName}" th:field="*{lastName}"/>
            </label></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit customer"></td>
        </tr>
    </table>
</form>
</body>
</html>